name: Marketplace Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  action-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - "0.6.40"
          - "latest"
      fail-fast: false
    steps:
      - uses: tombi-toml/setup-tombi@v1.0.4
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          version: ${{ matrix.version }}
      - run: tombi --version
