name: Marketplace Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - macos-13
          # - windows-latest
        version:
          - "0.7.11"
          - "latest"
      fail-fast: false

    runs-on: ${{ matrix.os }}
    name: Test (${{ matrix.os }}, ${{ matrix.version }})

    steps:
      - uses: tombi-toml/setup-tombi@v1
        with:
          version: ${{ matrix.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Verify tombi is installed
        run: tombi --version
